.group-child14 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1440px;
  height: 90px;
}
.ellipse-icon {
  position: absolute;
  top: 28px;
  left: 1291px;
  border-radius: 50%;
  width: 37px;
  height: 37px;
  object-fit: cover;
}
.group-child15,
.group-child16,
.group-child17,
.group-child18 {
  position: absolute;
  top: 41px;
  left: 1354px;
  border-radius: 50%;
  background-color: var(--info);
  width: 3.03px;
  height: 2.99px;
}
.group-child16,
.group-child17,
.group-child18 {
  top: 46.98px;
}
.group-child17,
.group-child18 {
  top: 52.97px;
}
.group-child18 {
  height: 36.13%;
  width: 2.1%;
  top: 35.45%;
  right: 12.03%;
  bottom: 28.42%;
  left: 85.86%;
  background-color: var(--color-white);
}
.vector-icon12 {
  position: absolute;
  height: 37.18%;
  width: 2.16%;
  top: 34.93%;
  right: 11.93%;
  bottom: 27.89%;
  left: 85.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child19 {
  position: absolute;
  height: 8.43%;
  width: 0.49%;
  top: 42.68%;
  right: 12.31%;
  bottom: 48.89%;
  left: 87.19%;
  border-radius: 50%;
  background-color: var(--color-crimson);
}
.group-child20,
.logo-1-icon {
  position: absolute;
  top: 20px;
  left: 83px;
  width: 311px;
  height: 49px;
  overflow: hidden;
}
.group-child20 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.tools2 {
  position: absolute;
  height: 80%;
  width: 80%;
  top: 12%;
  left: 13%;
  letter-spacing: 0.02em;
  display: inline-block;
}
.group-child21,
.group-parent {
  position: absolute;
  height: 35.96%;
  width: 2.08%;
  top: 36.67%;
  right: 15.56%;
  bottom: 27.37%;
  left: 82.36%;
}
.group-child21 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--info);
}
.div4 {
  position: absolute;
  height: 56.67%;
  width: 56.67%;
  top: 20%;
  left: 23.33%;
  letter-spacing: 0.02em;
  display: inline-block;
}
.ellipse-parent6 {
  position: absolute;
  height: 35.96%;
  width: 2.08%;
  top: 36.67%;
  right: 19.24%;
  bottom: 27.37%;
  left: 78.68%;
}
.rectangle-parent5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 90px;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-font-awesome-5-free);
}
